body, html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
}

p {
  font-weight: 600;
}

.main {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  width: 100%;
  height: 1024px;
  padding-top: 40px;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  display: block;
}

.header {
  max-width: 1232px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  color: white;
  fill: white;
  text-decoration: none;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo:hover {
  color: #998675;
  fill: #998675;
}
.logo span {
  font-size: 34px;
  font-weight: 400;
  margin-top: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  font-weight: 600;
  padding: 0;
}
.nav-item {
  margin-left: 25px;
}
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav-link:hover {
  color: #998675;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: block;
}
.btn-nav {
  fill: white;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn-nav:hover {
  fill: #998675;
}

.search {
  position: relative;
  width: 30px;
  height: 30px;
}
.search-label {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.search-label:hover .search-icon {
  fill: #998675;
}
.search-icon {
  fill: white;
  cursor: pointer;
}
.search-form {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: -50px;
  color: white;
  text-transform: capitalize;
  font-size: 14px;
}
.search-form:focus {
  min-height: 20px;
  border: 1px solid white;
  width: 180px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.wrapper {
  max-width: 1232px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 600px;
}
.wrapper .section-slideshow {
  position: relative;
}
.wrapper .section-slideshow .slider-first {
  position: absolute;
  left: -400px;
  bottom: 100px;
}
.wrapper .section-slideshow .slider-first-left {
  display: block;
  position: relative;
  width: 40px;
  height: 73px;
}
.wrapper .section-slideshow .slider-first-left::after {
  content: "";
  width: 52px;
  height: 52px;
  border: none;
  border-top: 3px solid #a3a2a0;
  border-right: 3px solid #a3a2a0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 10px;
  left: -25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper .section-slideshow .slider-first-left:hover::after {
  border-top: 3px solid #998675;
  border-right: 3px solid #998675;
}
.wrapper .section-slideshow .slider-second {
  position: absolute;
  right: -400px;
  bottom: 100px;
}
.wrapper .section-slideshow .slider-second-right {
  display: block;
  position: relative;
  width: 40px;
  height: 73px;
}
.wrapper .section-slideshow .slider-second-right::after {
  content: "";
  width: 52px;
  height: 52px;
  border: none;
  border-top: 3px solid #a3a2a0;
  border-right: 3px solid #a3a2a0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper .section-slideshow .slider-second-right:hover::after {
  border-top: 3px solid #998675;
  border-right: 3px solid #998675;
}
.wrapper .section-slideshow .description {
  margin-top: 300px;
}
.wrapper .section-slideshow .description h3 {
  font-weight: 400;
  font-size: 36px;
}
.wrapper .section-slideshow .description h1 {
  font-weight: 900;
  font-size: 52px;
  margin: 0;
}
.wrapper .section-slideshow .description p {
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-top: 20px;
}
.wrapper .section-slideshow button {
  height: 50px;
  width: 170px;
  border: 1px solid transparent;
  border-bottom: 3px solid #806b5b;
  border-radius: 5px;
  background-color: #998675;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-top: 40px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.wrapper .section-slideshow button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.content {
  max-width: 1232px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block;
}
.content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  color: #555555;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 30px;
}
.content-item::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  margin-bottom: 80px;
}
.content-item:hover:after {
  background-color: #c7b299;
}
.content-item-icon {
  fill: #555555;
  margin-bottom: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content-item span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content-item p {
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #949494;
}
.content-item:hover span {
  color: #c7b299;
}
.content-item:hover .content-item-icon {
  fill: #c7b299;
}

.section {
  background-color: #fbfaf8;
  color: #555555;
}
.section-page {
  max-width: 1232px;
  height: 700px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}
.section-page-txt {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  width: 715px;
  margin: 0 auto;
}
.section-page-txt span {
  font-size: 30px;
  font-weight: 700;
}
.section-page-txt p {
  line-height: 1.8;
  font-family: 'Montserrat', sans-serif;
  color: #949494;
}
.section-page-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-page-img-left {
  position: absolute;
  top: 300px;
}
.section-page-img-center {
  position: absolute;
  left: 245px;
  bottom: 0px;
}
.section-page-img-right {
  position: absolute;
  top: 300px;
  left: 475px;
}

.container {
  background: #231c1a;
  background: -webkit-gradient(linear, left top, right top, from(#231c1a), color-stop(38%, #35261f), to(#483025));
  background: linear-gradient(90deg, #231c1a 0%, #35261f 38%, #483025 100%);
}
.container .aside {
  max-width: 1232px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px;
}
.container .aside-text .span {
  font-size: 28px;
  font-weight: 400;
  color: #998675;
}
.container .aside-text .span span {
  color: white;
}
.container .aside-text p {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: #5a514e;
  margin: 10px 0 0 0;
}
.container .aside-btn .btn {
  height: 50px;
  width: 170px;
  border: 1px solid transparent;
  border-bottom: 3px solid #806b5b;
  border-radius: 5px;
  background-color: #998675;
  text-decoration: none;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container .aside-btn .btn:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.section-forum {
  width: 1232px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section-forum-text {
  text-align: center;
  color: #555555;
  margin: 0 auto;
  margin-top: 80px;
  width: 770px;
}
.section-forum-text span {
  font-size: 30px;
  font-weight: 600;
}
.section-forum-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #949494;
}
.section-forum-btn {
  margin: 40px 0 40px 0;
}
.section-forum-btn-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.section-forum-btn-link {
  border: 1px solid #ececec;
  border-radius: 4px;
  margin-right: 15px;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  color: #949494;
}
.section-forum-btn-link:hover {
  background-color: #998675;
  color: white;
}
.section-forum-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-forum-article-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 30px 30px 0;
  background-color: #fbfaf8;
  position: relative;
}
.section-forum-article-first-txt {
  padding: 20px 30px 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.section-forum-article-first-txt span {
  font-size: 20px;
  color: #c7b299;
  font-weight: 500;
}
.section-forum-article-first-txt p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #d1d1d1;
}
.section-forum-article-first:hover .section-forum-article-first-txt span {
  color: white;
}
.section-forum-article-first:hover .section-forum-article-first-txt p {
  color: #c7b299;
}
.section-forum-article-first:hover .section-forum-article-first-txt {
  background-color: #362f2d;
}
.section-forum-article-first:hover .section-forum-article-first-img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.section-forum-article-first-icon {
  display: none;
}
.section-forum-article-first-icon a {
  text-decoration: none;
  margin-right: 30px;
}
.section-forum-article-first-icon a .section-forum-article-first-colorw {
  fill: #c7b299;
}
.section-forum-article-first-icon a .section-forum-article-first-colorb {
  fill: white;
}
.section-forum-article-first:hover .section-forum-article-first-icon {
  display: block;
  position: absolute;
  top: 100px;
  left: 150px;
}
.section-forum-button {
  text-transform: uppercase;
  height: 50px;
  width: 170px;
  border: 1px solid transparent;
  border-bottom: 3px solid #806b5b;
  border-radius: 5px;
  background-color: #998675;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin: 30px 0 80px 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section-forum-button:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.video {
  background-image: url(../img/bg-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 705px;
}
.video-container {
  width: 1232px;
  padding: 210px 15px 0px 15px;
  margin: 0 auto;
}
.video-container-text {
  margin: 0 auto;
  width: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}
.video-container-text button {
  background: none;
  border: none;
  cursor: pointer;
}
.video-container-text span {
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
}
.video-container-text p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}
.video-container-text h3 {
  font-family: 'Raleway', sans-serif;
  color: #c7b299;
  font-size: 16px;
  font-weight: 500;
}

.wrp {
  width: 1232px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
.wrp-section {
  padding: 110px 0 0 30px;
  width: 660px;
}
.wrp-section span {
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
.wrp-section p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  margin: 40px 0 40px 0;
  font-weight: 600;
  color: #949494;
}
.wrp-section ul {
  list-style-type: none;
  padding-left: 100px;
  color: #949494;
}
.wrp-section ul li {
  position: relative;
  margin-bottom: 20px;
}
.wrp-section ul li::before {
  content: ">";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7px;
  color: white;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #c7b299;
  position: absolute;
  top: -3px;
  left: -50px;
}

.statistics {
  background: -webkit-gradient(linear, left top, right top, from(#231c1a), color-stop(38%, #35261f), to(#483025));
  background: linear-gradient(90deg, #231c1a 0%, #35261f 38%, #483025 100%);
}
.statistics-item {
  width: 1232px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 90px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 600;
}
.statistics-item-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.statistics-item-items::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: -28px;
}
.statistics-item-items span:nth-child(2) {
  font-size: 48px;
  color: white;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
.statistics-item-items span:nth-child(3) {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #c7b299;
}

.holder {
  width: 1232px;
  padding: 80px 15px 80px 15px;
  margin: 0 auto;
}
.holder-text {
  text-align: center;
  color: #555555;
  width: 715px;
  margin: 0 auto;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.holder-text span {
  font-size: 30px;
  font-weight: 600;
}
.holder-text p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  font-weight: 600;
  color: #949494;
}
.holder-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.holder-posts-date {
  position: relative;
  border: 1px solid #f8f8f8;
}
.holder-posts-date:hover img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}
.holder-posts-date:hover .holder-posts-date-text {
  background-color: #362f2d;
}
.holder-posts-date:hover .holder-posts-date-position span {
  background-color: #c7b299;
}
.holder-posts-date:hover .holder-posts-date-position p {
  background-color: #998675;
}
.holder-posts-date:hover .holder-posts-date-text span {
  color: #c7b299;
}
.holder-posts-date:hover .holder-posts-date-text p {
  color: white;
}
.holder-posts-date img {
  display: block;
}
.holder-posts-date-position {
  position: absolute;
  bottom: 310px;
  left: 20px;
  color: white;
  text-align: center;
}
.holder-posts-date-position span {
  display: block;
  width: 50px;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
  background-color: #363636;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.holder-posts-date-position p {
  margin: 0 auto;
  width: 50px;
  height: 25px;
  display: block;
  background-color: #252525;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
}
.holder-posts-date-text {
  width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
}
.holder-posts-date-text span {
  font-size: 20px;
  font-weight: 400;
  color: #555555;
}
.holder-posts-date-text p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #949494;
  line-height: 1.8;
  font-weight: 600;
}
.holder-posts-date-text a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #c7b299;
  font-weight: 600;
}
.holder .button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0 0;
  position: relative;
}
.holder .button-next form button {
  border: none;
  background: none;
}
.holder .button-next form button::after {
  content: ">";
  color: #d4d4d4;
  font-weight: 600;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  right: -29px;
  bottom: 25px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  cursor: pointer;
}
.holder .button-next form button:hover ::after {
  color: #c7b299;
  border: 2px solid #c7b299;
}
.holder .button-next form button::before {
  content: "<";
  color: #d4d4d4;
  font-weight: 600;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  left: -29px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  cursor: pointer;
}
.holder .button-next form button:hover ::after {
  color: #c7b299;
  border: 2px solid #c7b299;
}

.inner {
  background-image: url(../img/bg-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-logo {
  width: 1232px;
  padding: 80px 15px 80px 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 140px 0 140px;
}

.footer {
  background-color: #191919;
}
.footer-section {
  width: 1232px;
  padding: 80px 15px;
  margin: 0 auto;
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-section-items-first {
  width: 270px;
  margin-right: 40px;
}
.footer-section-items-first p {
  line-height: 1.8;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.footer-section-items-first a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.footer-section-items-second {
  width: 270px;
  margin-right: 40px;
}
.footer-section-items-second hr {
  border: 0.5px solid #727171;
  opacity: 20%;
  border-top: none;
  border-left: none;
  border-right: none;
}
.footer-section-items-second h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.footer-section-items-second span {
  color: #363636;
  font-size: 12px;
  margin-top: 30px;
  line-height: 1.8;
}
.footer-section-items-second p {
  font-size: 14px;
  line-height: 1.8;
  margin: 0;
}
.footer-section-items-third {
  width: 270px;
  margin-right: 40px;
}
.footer-section-items-third hr {
  border: 0.5px solid #727171;
  opacity: 20%;
  border-top: none;
  border-left: none;
  border-right: none;
}
.footer-section-items-third h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
}
.footer-section-items-third span {
  color: #363636;
  font-size: 12px;
  margin-top: 30px;
  line-height: 1.8;
}
.footer-section-items-third p {
  font-size: 14px;
  line-height: 1.8;
  margin: 0;
}
.footer-section-items-forth {
  width: 270px;
}
.footer-section-items-forth h1 {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin: 16px 0 20px 0;
}

.footer-copyright {
  background-color: black;
}
.footer-copyright-desc {
  width: 1232px;
  padding: 30px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #555555;
  font-size: 13px;
  font-weight: 600;
}
.footer-copyright-desc-left span {
  color: #c7b299;
}
.footer-copyright-desc-right span {
  color: #959595;
}

@media (max-width: 1500px) {
  .slider-first {
    display: none;
  }

  .slider-second {
    display: none;
  }
}
@media (max-width: 1000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .content-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .content-item {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */